# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
db.sqlite3
media/
staticfiles/

# If your build process includes collectstatic, ignore the collected static files
static/

# Pytest / coverage
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
