{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio - Euro Elite{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <br>

    <!-- SECCIÓN AGENDA -->
    <main class="container mt-5 mb-5">
        <h2 class="text-center mb-4">Agendar Hora de Mantenimiento</h2>
        <div class="card shadow p-4">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Agendar</button>
                </div>
            </form>
        </div>
    </main>
    <br>
    <br>
{% endblock %}
    <script>
        const carritoURL = "{% url 'carrito_compras' %}";
    </script>
    <script src="{% static 'js/main.js' %}?v=2"></script>
</body>

</html>
