{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio - Euro Elite{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>

    <main class="container my-5">
        <h2 class="mb-4 text-center">🛒 Carrito de Compras</h2>
        <div id="cart-page" class="cart-container"></div>
    </main>

{% endblock %}
    <script>
        const carritoURL = "{% url 'carrito_compras' %}";
        const resumenURL = "{% url 'resumen_compra' %}";
    </script>
    <script src="{% static 'js/main.js' %}"></script>


