{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio - Euro Elite{% endblock %}
{% block content %}
  <br>
  <br>
  <br>

  <!-- Sección Equipo / Marcas -->
  <section class="team-section">
    <div class="section-header">
      <h2>Nuestro Equipo</h2>
      <p>
        En <strong>Euro Elite</strong> somos un taller automotriz apasionado por los vehículos de alta gama.
        Nos especializamos en el mantenimiento y reparación de marcas como <strong>Audi, BMW y Mercedes-Benz</strong>,
        brindando un espacio confiable y profesional para tu automóvil.
      </p>
    </div>

    <div class="section-header">
      <h2>Marcas con las que trabajamos</h2>
      <p>
        Nos enorgullece ofrecer servicios especializados en vehículos alemanes, conocidos por su innovación, calidad y
        desempeño.
        Trabajamos con dedicación para que tu experiencia sea tan premium como tu automóvil.
      </p>
    </div>

    <div class="team-grid">
      <div class="member">
        <div class="member-image">
          <img src="{% static 'img/BMW.png' %}" alt="BMW">
        </div>
        <h3>BMW</h3>
        <p><em>La potencia de la ingeniería alemana</em></p>
        <p>Expertos en modelos BMW, garantizando rendimiento y cuidado superior.</p>
      </div>

      <div class="member">
        <div class="member-image">
          <img src="{% static 'img/Mercedez.png' %}" alt="Mercedes-Benz">
        </div>
        <h3>Mercedes-Benz</h3>
        <p><em>Lujo, confort y tecnología</em></p>
        <p>Mantenimiento especializado que preserva la elegancia y seguridad de tu Mercedes-Benz.</p>
      </div>

      <div class="member">
        <div class="member-image">
          <img src="{% static 'img/audi.png' %}" alt="Audi">
        </div>
        <h3>Audi</h3>
        <p><em>Innovación y diseño vanguardista</em></p>
        <p>Servicios dedicados a Audi, manteniendo precisión y modernidad en cada detalle.</p>
      </div>
    </div>
  </section>

  <!-- Sección Valores -->
  <section class="values-section">
    <h2>Nuestros Valores</h2>
    <div class="values-grid">
      <div class="value-card">🚀<h3>Innovación</h3>
      </div>
      <div class="value-card">🤝<h3>Colaboración</h3>
      </div>
      <div class="value-card">🎯<h3>Calidad</h3>
      </div>
      <div class="value-card">💡<h3>Soluciones</h3>
      </div>
    </div>
  </section>


{% endblock %}

    <script>
        const carritoURL = "{% url 'carrito_compras' %}";
    </script>
  <script src="{% static 'js/main.js' %}?v=2"></script>
</body>

</html>