{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio - Euro Elite{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <br>

    <main>
        <div class="container text-center">
            <h1 class="mt-5">404 - Página No Encontrada</h1>
            <p class="lead">Lo sentimos, la página que estás buscando no existe.</p>
            <a href="{% url 'home' %}" class="btn btn-primary">Volver a Inicio</a>
        </div>
    </main>

{% endblock %}

    <script>
        const carritoURL = "{% url 'carrito_compras' %}";
    </script>
    <script src="{% static 'js/main.js' %}?v=2"></script>
</body>

</html>
