{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio - Euro Elite{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <!-- FILTROS -->
    <section class="py-4 bg-light">
        <div class="container d-flex flex-wrap justify-content-center gap-3">
            <input type="text" id="searchInput" placeholder="Buscar producto..." class="form-control w-auto"
                onkeyup="searchProducts()">
            <select id="categoryFilter" class="form-select w-auto" onchange="filterProducts()">
                <option value="all">Todas las Categorías</option>
                <option value="BMW">BMW</option>
                <option value="Audi">Audi</option>
                <option value="Mercedes">Mercedes</option>
                <option value="Herramientas">Herramientas</option>
            </select>
        </div>
    </section>

    <!-- PRODUCTOS -->
    <div class="container my-5">
        <h2 class="mb-4 text-center">Productos en Venta</h2>
        <div class="row g-4" id="products"></div>
    </div>

{% endblock %}

    <script>
        const carritoURL = "{% url 'carrito_compras' %}";
    </script>
    <script src="{% static 'js/filtro.js' %}"></script>
    <script src="{% static 'js/main.js' %}?v=2"></script>
</body>

</html>